/* hidden attr cannot be overwritten by display change */

[hidden] {
  display: none !important;
}

/* default font-size is 1.6rem */

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

/* default box-sizing is border-box */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  padding: 0;
}

.nav-menu ul {
  display: flex;
  padding: 0;
}

.nav-menu li {
  list-style: none;
}

.nav-menu li:not(:last-of-type) {
  padding-right: 1em;
}