/* hidden attr cannot be overwritten by display change */

[hidden] {
  display: none !important;
}

/* default font-size is 1.6rem */

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

/* default box-sizing is border-box */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --color-red: #cf2221;
}

.hero-section {
  height: 100vh;
  padding: 0 24px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background: url("../assets/hero-section-bg.jpg");
}

.logo {
  font-size: 1.8rem;
  letter-spacing: 0.1ch;
  font-weight: 900;
  color: white;
}

.logo > * {
  vertical-align: bottom;
}

.red-circle {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-inline-end: 1.2rem;
  background: var(--color-red);
  border-radius: 50%;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
}

.menu {
  padding: 0;
  margin: 0;
}

.menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.menu-item {
  padding-inline-end: 1em;
}

.menu-link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.fa-magnifying-glass {
  color: white;
  font-size: 3.6rem;
}

.input-search {
  background: transparent;
  height: 3.6rem;
}

.travel-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.travel-time {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 2.6rem;
  font-weight: 600;
  color: white;
}

.travel-time-highlight {
  font-size: 4rem;
}

.travel-time-item {
  text-align: center;
  padding-block-end: 1rem;
}

.travel-time-item:last-child {
  padding-block-end: 0;
}

.title-wrap h1 {
  font-weight: 900; 
  font-size: 8rem;
  text-transform: uppercase;
  color: white;
}

.title-wrap p {
  max-width: 400px;
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
}