/* hidden attr cannot be overwritten by display change */

[hidden] {
  display: none !important;
}

/* default font-size is 1.6rem */

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

/* default box-sizing is border-box */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --color-red: #cf2221;
}

.hero-section {
  height: 100vh;
  padding: 0 24px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background: url("../assets/hero-section-bg.jpg");
}

.logo {
  font-size: 1.8rem;
  letter-spacing: 0.1ch;
  font-weight: 900;
  color: white;
}

.logo > * {
  vertical-align: bottom;
}

.red-circle {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-inline-end: 1.2rem;
  background: var(--color-red);
  border-radius: 50%;
}

.menu {
  padding: 0;
}

.menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.menu-item {
  padding-inline-end: 1em;
}

.menu-link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}