/* hidden attr cannot be overwritten by display change */

[hidden] {
  display: none !important;
}

/* default font-size is 1.6rem */

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

/* default box-sizing is border-box */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --color-red: #cf2221;
}

.hero-section {
  height: 100vh;
  padding: 0 24px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background: url("../assets/hero-section-bg.jpg");
}

.red-circle {
  width: 20px;
  height: 20px;
  background: var(--color-red);
  border-radius: 50%;
}